/* Removes default browser styling */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Grid System */
.row {
  clear: both;
  padding: 0;
  margin: 0 auto;
  max-width: 100vw;
}
.row:after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.column {
  float: left;
  margin: 0 0 0 2.56%;
  min-height: 1px;
}
.column:first-child { 
  margin-left: 0;
}
.span_12_of_12 {
  width: 100%;
}
.span_11_of_12 {
    width: 91.45%;
}
.span_10_of_12 {
    width: 82.90%;
}
.span_9_of_12 {
    width: 74.36%;
}
.span_8_of_12 {
    width: 65.81%;
}
.span_7_of_12 {
    width: 57.26%;
}
.span_6_of_12 {
    width: 48.72%;
}
.span_5_of_12 {
    width: 40.17%;
}
.span_4_of_12 {
    width: 31.62%;
}
.span_3_of_12 {
    width: 23.08%;
}
.span_2_of_12 {
    width: 14.53%;
}
.span_1_of_12 {
    width: 5.986%;
}
