h2 {
  font-size: 2em;
  color: #180773;
  font-weight: 800;
  font-family: 'Signika', sans-serif;
}


/* Button Styles */

.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #567dbf), color-stop(1, #31629e));
  background:-moz-linear-gradient(top, #567dbf 5%, #31629e 100%);
  background:-webkit-linear-gradient(top, #567dbf 5%, #31629e 100%);
  background:-o-linear-gradient(top, #567dbf 5%, #31629e 100%);
  background:-ms-linear-gradient(top, #567dbf 5%, #31629e 100%);
  background:linear-gradient(to bottom, #567dbf 5%, #31629e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#567dbf', endColorstr='#31629e',GradientType=0);
  background-color:#567dbf;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1em;
  padding: .5em 1.1em;
  text-decoration:none;
  text-shadow:0px 1px 0px #172f6b;
  margin: 5px 2px; 
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #31629e), color-stop(1, #567dbf));
  background:-moz-linear-gradient(top, #31629e 5%, #567dbf 100%);
  background:-webkit-linear-gradient(top, #31629e 5%, #567dbf 100%);
  background:-o-linear-gradient(top, #31629e 5%, #567dbf 100%);
  background:-ms-linear-gradient(top, #31629e 5%, #567dbf 100%);
  background:linear-gradient(to bottom, #31629e 5%, #567dbf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#31629e', endColorstr='#567dbf',GradientType=0);
  background-color:#31629e;
}
.myButton:active {
  position:relative;
  top:1px;
}

.ui-output > .myButton {
  padding: .3em .8em;
}


/* Navbar styles*/

header {
  top: 0;
  left: 0;
  width:100%;
  background-color: #6A94D4;
  height: 60px;
  border-bottom: 1px solid #604BD8;
}


nav ul {
  float:right;
}

nav li {
  display: inline;
}

nav label {
  display: inline-block;
  text-align: right;
  padding: 19px 10px;
  transition: background 2s;
}

nav label:hover {
  background: #437DD4;
  color:#05306D;
}

#logout {
  display: none;
}
/*Form styles*/

form {
  margin: 10px;
  padding: 10px;
}

form input {
  font-size: 1.15em;
  margin-bottom: 10px;
  border-radius: 5px;
}

label {
  display:block;
}



/*Toggle login */

.hiddenCheckbox {
  display:none;
}

.hiddenCheckbox ~ div {
  max-height: 0;
  background: #FFCB73;
  overflow: hidden;
  margin-top: 8px;
  transition: max-height 1s;
/*  position: absolute;*/
  top:60px;
  right: 0;
}

.hiddenCheckbox:checked ~ div {
  max-height: 200px;
}

.dropdown {
  width: 250px;
  border-radius: 5px;
  position: fixed;
  top: 61px;
  z-index:900;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
} 

#loginDropdown {
  right: 76px;
}

#registrationDropdown {
  right: 3px;
}


/* Main content*/
main {
  display: -webkit-box; 
  display: -ms-flexbox;  
  display: -webkit-flex; 
  display: flex; 
}

aside {
 
}

.sidebar {
  background-color: #FFCB73;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}

#map {
  height: 100vh;
  z-index: 1;
}

/* Ride styling */

.ride:hover {
  background-color: #FFA100;
}

.hidden {
  display: none;
}

.rides {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  margin: none;
  overflow:scroll;
  padding-bottom:60px;
  height: 93vh;
}

::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#FFA100;
  border-radius:0;
}


.rides .ride {
  margin-top: 12px;
  border-radius: 5px;
  display:block;
  
  padding:10px;
}

.rides .buttons {
  border-bottom:1px solid #eee;
}

.rides .ride:last-child { border-bottom:none; }
.rides .ride .title {
  display:block;
  color:#180773;
  font-weight:700;
}

.rides .ride .title small { font-weight:400; }



/* Map styles */
.leaflet-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:200px;
}
.leaflet-popup-content-wrapper {
  padding:0;
  border-radius: 5px;
}
.leaflet-popup-content h3 {
  background:#180773;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}

.leaflet-container .leaflet-marker-icon { 
  cursor:pointer;
  border-radius: 5px;
}

/* Marker tweaks */
.leaflet-popup-close-button {
  display:none;
}

.leaflet-popup-content div {
  padding:10px;
}
.leaflet-container .leaflet-marker-icon { cursor:pointer; }


/*Geocoding results box*/
pre.ui-output {
    position:absolute;
    top:250px;
    left:10px;
    padding:5px 10px;
    background:rgba(0,0,0, 0.5);
    color:#fff;
    line-height:1.2em;
    border-radius:3px;
    max-height:50%;
    max-width:25%;
    overflow:auto;
    word-wrap: break-word;
    white-space:pre-wrap;
    z-index: 50;
    cursor:pointer;
    }
pre.ui-output:empty { 
  padding:0;
  display:none; }

pre p {
  cursor:text;
}


body {
  color:#404040;
  font:400 15px/22px 'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing:antialiased;
}

a {
  color:#404040;
  text-decoration:none;
}
a:hover { color:#101010; }


.quiet {
  color:#888;
}

.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  height:60px;
  line-height:60px;
  padding:0 10px;
}

/*Title animation*/
h1 {
  float: left;
  margin-top: 20px;
  color: #180773;
  font-weight: 800;
  font-size: 1.7em;
  margin-left: 27%;

}
h1 .word1 {
  font-family: 'Signika', sans-serif;
  font-size: 1.8em;
}
h1 .word2 {
 color: #FFA100;
 font-size: 1.7em;
 font-family: 'Knewave', cursive;
}

