h2 {
  font-size: 1.25em;
}


/* Button Styles */
.fancyButton {
  background-image: linear-gradient(#fff, #8a80c3);
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-image 2s;
}

.fancybutton:hover {
  background-image: linear-gradient(#8a80c3, #fff);
}


/* Navbar styles*/

header {
  top: 0;
  left: 0;
  width:100%;
  background-color: rgba(98, 119, 102, 1);
  height: 60px;
  border-bottom: 1px solid #878d8f;
}


nav {
  float:left;
}

nav li {
  display: inline;
}

nav label {
  display: inline-block;
  padding: 26px 10px;
  transition: background 2s;
}

nav label:hover {
  background: #d2ccfc;
}

#logout {
  display: none;
}

form {
  
  margin: 10px;
  padding: 10px;
  
}

form input {
  font-size: 1.5em;
  margin-bottom: 15px;
}



/*Toggle login */
nav label {
    text-align: right;
    padding: 22px 10px;
}

.hiddenCheckbox {
  display:none;
}

.hiddenCheckbox ~ div {
  max-height: 0;
  background: slategrey;
  overflow: hidden;
  transition: max-height 1s;
/*  position: absolute;*/
  top:68px;
  left: 0;
}

.hiddenCheckbox:checked ~ div {
  max-height: 200px;
}

.dropdown {
  width: 400px;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 61px;
  z-index:900;
} 


/* Main content*/
main {
  display: -webkit-box; 
  display: -ms-flexbox;  
  display: -webkit-flex; 
  display: flex; 
}

aside {
 padding-top: 15px;
 padding-left: 15px;
 margin: none;
}

.sidebar {
  background-color: #d2ccfc;
}

#map {
  height: 100vh;
}

/* Ride styling */
.ride {
  margin-top: 12px;
  padding: 2px;
  width: 90%;
}

/* Map styles */
.leaflet-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:200px;
}
.leaflet-popup-content-wrapper {
  padding:0;
}
.leaflet-popup-content h3 {
  background:#91c949;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}
.leaflet-popup-content div {
  padding:10px;
}
.leaflet-container .leaflet-marker-icon { cursor:pointer; }
